@import "./partials/custom";

//bootstrap variables overrides:

//grid
$grid-gutter-width: 2rem;

//brand
$navbar-brand-font-size: getFontSizes(medium);

//navbar
$navbar-light-color: getColor(lightText);
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;
$navbar-light-toggler-border-color: none;
$navbar-toggler-border-radius: 0;
$navbar-toggler-focus-width: 0;
$navbar-toggler-font-size: 2rem;
$navbar-toggler-padding-y: 0;
$navbar-toggler-padding-x: 0;

//carousel
$carousel-indicator-height: 30px;
$carousel-indicator-width: 30px;
$carousel-indicator-spacer: 0.5rem;

//accordion
$accordion-bg: getColor(backgroundGrad2);
$accordion-color: getColor(primary);
$accordion-button-bg: white;
$accordion-button-active-bg: white;
$accordion-button-active-color: getColor(primary);
$accordion-border-radius: 10px;
$accordion-button-focus-border-color: getColor(primary);
$accordion-button-icon: none;
$accordion-button-active-icon: none;
$accordion-button-color: getColor(primary);
$accordion-border-width: 1px;
$accordion-border-color: getColor(backgroundGrad2);

//tabs
$nav-tabs-link-active-color: getColor(lightText);
$nav-tabs-border-radius: 10px;
$nav-tabs-border-width: 0;
$nav-link-color: getColor(primary);
$nav-link-hover-color: none;

//pagination
$pagination-bg: getColor(secondary);
$pagination-color: getColor(primary);
$pagination-active-color: getColor(secondary);
$pagination-active-bg: getColor(primary);
$pagination-padding-y: 0.75rem;
$pagination-padding-x: 1.35rem;
$pagination-border-color: getColor(primary);
$pagination-border-radius: 4px;
$pagination-active-border-color: getColor(primary);
$pagination-hover-color: getColor(secondary);
$pagination-hover-bg: getColor(primary);
$pagination-hover-border-color: getColor(primary);

//form
$form-label-margin-bottom: 0.25rem;
$form-check-input-bg: getColor(primary);
$form-check-input-width: 2em;
$form-check-input-checked-bg-color: getColor(lightText);

@import "~bootstrap/scss/bootstrap";

@import "./partials/base";
@import "./partials/layout";
@import "./partials/typography";
@import "./partials/navbar";
@import "./partials/carousel";
@import "./partials/accordion";
@import "./partials/tabs";
@import "./partials/pagination";
@import "./partials/card";
@import "./partials/form";
@import "./partials/footer";
