*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $fontPrimary;
  color: getColor(lightText);
  font-size: getFontSizes(standard);
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}


