.card {
  //max-width: 350px;
  height: 400px;
  border-radius: 10px;
  margin-bottom: 2rem;
  box-shadow: $dropShadow;
}

.card-img-top {
  height: 50%;
  border-radius: 10px 10px 0 0;
  background-position: center;
}

.card-body {
  padding: 1rem 2rem auto 1rem;
}

.card-title {
  color: getColor(darkText);
  font-size: 1.25rem;
}

.card-button {
  background-color: getColor(primary);
  width: 100%;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-right: 32px solid getColor(lightText);

  &:hover {
    background-color: lighten(getColor(primary), 10%);
    border-color: lighten(getColor(lightText), 10%);
  }

  &:focus {
    background-color: getColor(primary);
    border-color: getColor(lightText);
  }
}
