.carousel-image {
  height: 300px;
  background-position: center;

  @media (min-width: getBreakpoint(large)) {
    height: 460px;
  }
}

.carousel-indicators > * {
  background-color: white !important;
}

.carousel-indicators > * {
  border-radius: 10px !important;
}
