.carousel-image {
  height: 300px;
  background-position: center;
  background-size: cover;

  @media (min-width: getBreakpoint(large)) {
    height: 460px;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    height: 520px;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    height: 600px;
  }
}

.carousel-indicators {
  margin-bottom: 2rem;

  & button[type="button"] {
    background: white !important;
    border-radius: 2px;
    opacity: 1;
    border: none;

    @include dropShadow(3px, 6px, 1);
  }

  & .active[type="button"] {
    background: getColor(primary) !important;
  }
}
