//custom
$colorPrimary: #e92569;
$colorSecondary: #ffffff;
$colorNavbar: #efefef;
$colorContrastText: #0a0a0a;
$colorLightText: #767676;
$colorDarkText: #0a0a0a;
$colorBackgroundGrad1: #ffffff;
$colorBackgroundGrad2: #e5e5e5;
$colorBorder: #d1d1d1;

$fontPrimary: "Lato";
$fontMainHeadings: "Playfair Display";