//custom variables
//color
$colors: (
  primary: #e92569,
  secondary: #ffffff,
  navbar: #efefef,
  lightText: #767676,
  darkText: #0a0a0a,
  backgroundGrad1: #ffffff,
  backgroundGrad2: #e5e5e5,
  accordionGrad1: #ffffff,
  accordionGrad2: #f5f5f5,
  border: #d1d1d1,
  inputPrefix: #c7c7c7,
);

@function getColor($color) {
  @return map-get($colors, $color);
}

//breakpoints (more breakpoints added to avoid stretching on large screens)
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
  xxlarge: 1400px,
);

@function getBreakpoint($breakpoint) {
  @return map-get($breakpoints, $breakpoint);
}

//sets container widths
$widths: (
  paddingSmallScreen: 7.5%,
  paddingLargeScreen: 5%,
  paddingXlargeScreen: 10%,
  paddingXxlargeScreen: 15%,
  smallScreen: 85%,
  largeScreen: 90%,
  xlargeScreen: 80%,
  xxlargeScreen: 70%,
);

@function getWidth($width) {
  @return map-get($widths, $width);
}

//fonts
$fontPrimary: "Lato";
$fontMainHeadings: "Playfair Display";

// I have ignored the 15px and 17px fonts from XD, as it makes no sense to me to differnciate them from 16px;
$fontSizes: (
  standard: 1rem,
  headings: 2.125rem,
  medium: 1.25rem,
  cardText: 1.125rem,
  submitButton: 1.375rem,
  icons: 2rem,
  tabHeadings: 1.1875rem,
);

@function getFontSizes($fontSize) {
  @return map-get($fontSizes, $fontSize);
}

//mixins
@mixin dropShadow($offsetY, $blur, $opacity) {
  box-shadow: 0 $offsetY $blur rgba(0, 0, 0, $opacity);
}
