.contact-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 100px;

  @media (min-width: getBreakpoint(large)) {
    flex-direction: row;
    width: getWidth(largeScreen);
    margin: 0 auto;
    gap: 50px;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(xlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(xxlargeScreen);
  }
}

.contact-form-wrapper {
  order: 2;

  @media (min-width: getBreakpoint(large)) {
    order: 1;
    flex: 1;
  }
}

.contact-form-header {
  padding-left: getWidth(paddingSmallScreen);
  padding-top: 50px;

  @media (min-width: getBreakpoint(large)) {
    padding-top: 0;
    padding-left: 0;
  }
}

.contact-form-container {
  width: 100%;
  padding: 2rem getWidth(paddingSmallScreen);
  background-color: getColor(navbar);

  @include dropShadow(6px, 6px, 0.1);

  @media (min-width: getBreakpoint(large)) {
    padding: 2rem getWidth(paddingLargeScreen);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    padding: 2rem getWidth(paddingxLargeScreen);
  }
}

.form {
  &-group {
    margin-top: 0.5rem;
  }

  &-control {
    border: none;
    border-radius: 4px;
    height: 3rem;

    &-prefix {
      height: 3rem;
      background: getColor(inputPrefix);
      color: getColor(secondary);
      padding: 0 0.75rem;
      border-radius: 4px 0 0 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-website {
      border-radius: 0 4px 4px 0;
    }

    &-textarea {
      height: auto;
      resize: none;
    }
  }

  &-label {
    font-size: getFontSizes(medium);
    padding-top: 0.35rem;
  }

  &-button {
    width: 100%;
    background-color: getColor(lightText);
    font-size: getFontSizes(submitButton);
    border-radius: 4px;
    border: none;
    margin-top: 2rem;
    padding: 0.5rem;

    &:hover {
      background-color: lighten(getColor(lightText), 10%);
    }

    &:focus {
      background-color: getColor(lightText);
    }
  }

  &-check-input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: none;
  }

  &-check-label {
    margin-top: 1rem;
    padding-left: 0.5rem;
  }
}

.contact-info {
  &-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-left: getWidth(paddingSmallScreen);
    order: 1;

    @media (min-width: 992px) {
      order: 2;
      flex: 1;
      padding-left: 0;
      padding-top: 100px;
    }
  }

  &-items {
    display: flex;
    align-items: center;

    &:last-child {
      align-items: baseline;
    }

    & i {
      font-size: getFontSizes(icons);
    }
  }

  &-icon {
    width: 60px;
    margin-top: 0.5rem;
    height: 60px;
  }

  &-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & p {
      margin: 0;
      padding: 0;
    }
  }
}
