.wrapper {
  flex: 1 0 auto;
}

main {
  //opted to put the gradient on the main element, since it produced the best result
  background: radial-gradient(
    getColor(backgroundGrad1),
    getColor(backgroundGrad2)
  );
  margin: 0;
  padding-bottom: 200px;
}

.main-container {
  width: getWidth(smallScreen);
  margin: 0 auto;
  padding-top: 25px;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(largeScreen);
    padding-top: 50px;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(xlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(xxlargeScreen);
  }
}

.contact-page-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  @media (min-width: getBreakpoint(medium)) {
    flex-direction: row;
    width: getWidth(largeScreen);
    margin: 0 auto;
    gap: 4rem;
    padding-top: 50px;
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(xlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(xxlargeScreen);
  }
}
