.main-container {
  width: getWidth(smallScreen);
  margin: 0 auto;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(largeScreen);
  }

  @media (min-width: getBreakpoint(Xlarge)) {
    width: getWidth(XlargeScreen);
  }
}
