.wrapper {
  flex: 1 0 auto;
}

main {
  background: radial-gradient(
    getColor(backgroundGrad1),
    getColor(backgroundGrad2)
  );
  margin: 0;
  padding-bottom: 250px;
}

.main-container {
  width: getWidth(smallScreen);
  margin: 0 auto;
  padding-top: 50px;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(largeScreen);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(xlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(xxlargeScreen);
  }
}
