.navbar {
  position: relative;
  background-color: getColor(navbar);
  font-family: $fontPrimary;
  padding: 0;
  width: 100%;
  z-index: 100;

  @media (min-width: getBreakpoint(large)) {
    box-shadow: none;
    position: static;
  }
}

.nav-container {
  width: getWidth(smallScreen);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(largeScreen);
  }

  @media (min-width: getBreakpoint(Xlarge)) {
    width: getWidth(XlargeScreen);
  }
}

#basic-navbar-nav {
  position: absolute;
  background-color: getColor(navbar);
  width: 100%;
  top: 70px;
  left: 0;
  box-shadow: 0 16px 12px rgba(0, 0, 0, 0.1);
  padding-bottom: 3rem;

  @media (min-width: getBreakpoint(large)) {
    position: static;
    width: auto;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

.me-auto a {
  color: getColor(darkText);
  text-decoration: none;
  border-radius: 3px;
  margin: 0 0 0.75rem 0;
  padding: 0.75rem 0 0.75rem getWidth(paddingSmallScreen);

  @media (min-width: 992px) {
    margin: 0 0 0 2rem;
    padding: 0.25rem 1rem;
  }

  &:hover {
    color: getColor(darkText);
    background-color: getColor(secondary);
  }

  &:active {
    color: getColor(darkText);
    background-color: getColor(secondary);
  }

  &:first-of-type {
    margin-top: 1rem;

    @media (min-width: getBreakpoint(large)) {
      margin-top: 0;
    }
  }

  &:last-of-type {
    margin-bottom: 3rem;

    @media (min-width: getBreakpoint(large)) {
      margin-bottom: 0;
    }
  }
}

.brand-link {
  text-decoration: none;
}

.brand {
  font-family: $fontMainHeadings;
  color: getColor(primary) !important;
  font-style: italic;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.navbar-form {
  width: getWidth(smallScreen);
  margin: 0 auto;

  @media (min-width: getBreakpoint(large)) {
    margin-left: 20%;
  }
}

#navbar-form-input {
  background-color: getColor(secondary);
  border: none;
  border-radius: 4px 0 0 4px;
  height: auto;

  &::placeholder {
    color: getColor(lightText);
  }
}

.navbar-button {
  background-color: getColor(primary);
  //color: getColor(secondary);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;

  &:hover {
    background-color: lighten(getColor(primary), 10%);
  }

  &:focus {
    background-color: getColor(navbar);
  }
}
