.navbar {
  background-color: $colorNavbar;
  font-family: $fontPrimary;
  padding: 1rem 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  z-index: 100;

  @media (min-width: 992px) {
    box-shadow: none;
  }
}

.me-auto a {
  color: $colorDarkText;
  text-decoration: none;
  padding: 0.5rem 7.5%;
  border-radius: 3px;
  margin: 0 0 1rem 0;

  @media (min-width: 992px) {
    margin: 0 0 0 2rem;
    padding: 0.25rem 1rem;
  }

  &:hover {
    color: $colorDarkText;
    background-color: $colorSecondary;
  }

  &::active {
    color: $colorDarkText;
    background-color: $colorSecondary;
  }
}

.navbar-button {
  background-color: $colorPrimary;
  color: $colorSecondary;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.navbar-form {
  padding: 0 7.5% 2rem 7.5%;

  @media (min-width: 992px) {
    padding: 0 5%;
  }
}

.brand {
  font-family: $fontMainHeadings;
  color: $colorPrimary !important;
  font-style: italic;
  font-weight: bold;
  margin: 0 2rem 0 7.5%;

  @media (min-width: 992px) {
    margin: 0 2rem 0 5%;
  }
}

.form-control {
  background-color: colorSecondary;
  min-width: 200px;
  border: none;
  border-radius: 4px 0 0 4px;
  color: red;

  &::placeholder {
    color: $colorLightText;
  }
}

.navbar-toggler {
  padding: 0 7.5% 0 0;
}

