.nav-container {
  width: getWidth(smallScreen);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0;

  @media (min-width: getBreakpoint(large)) {
    width: getWidth(largeScreen);
  }

  @media (min-width: getBreakpoint(xlarge)) {
    width: getWidth(xlargeScreen);
  }

  @media (min-width: getBreakpoint(xxlarge)) {
    width: getWidth(xxlargeScreen);
  }
}

.navbar {
  position: relative;
  background-color: getColor(navbar);
  font-family: $fontPrimary;
  padding: 0;
  width: 100%;
  z-index: 100;

  @media (min-width: getBreakpoint(large)) {
    box-shadow: none;
    position: static;
  }

  &-collapse {
    //animation removed since the drop-shadow seems to have caused a slight issue
    transition: none;
  }

  &-form {
    width: getWidth(smallScreen);
    margin-left: getWidth(paddingSmallScreen);
    //max-width set to avoid too wide input-bar
    max-width: 400px;

    @media (min-width: getBreakpoint(large)) {
      margin: 0;
      max-width: 250px;
    }
  }

  &-button {
    background-color: getColor(primary);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;

    &:hover {
      background-color: lighten(getColor(primary), 10%);
    }

    &:focus {
      background-color: getColor(primary);
    }
  }

  &-brand {
    font-family: $fontMainHeadings;
    color: getColor(primary) !important;
    font-style: italic;
    font-weight: bold;
    padding: 0 1.5rem 0 0;
    margin: 0;
    text-decoration: none;
  }

  &-links a {
    color: getColor(darkText);
    text-decoration: none;
    border-radius: 3px;
    margin: 0 0 0.75rem 0;
    padding: 0.75rem 0 0.75rem getWidth(paddingSmallScreen);

    @media (min-width: getBreakpoint(large)) {
      margin: 0 0 0 1.5rem;
      padding: 0.25rem 1rem;
    }

    &:hover {
      color: getColor(darkText);
      background-color: getColor(secondary);
    }

    &:active {
      color: getColor(darkText);
      background-color: getColor(secondary);
    }

    //have excluded active bg on small screens
    &.active {
      @media (min-width: getBreakpoint(large)) {
        color: getColor(darkText);
        background-color: getColor(secondary);
      }
    }

    &:first-of-type {
      margin-top: 1rem;

      @media (min-width: getBreakpoint(large)) {
        margin-top: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 3rem;

      @media (min-width: getBreakpoint(large)) {
        margin-bottom: 0;
      }
    }
  }
}

#basic-navbar-nav {
  position: absolute;
  background-color: getColor(navbar);
  width: 100%;
  top: 70px;
  left: 0;
  padding-bottom: 3rem;

  @include dropShadow(16px, 22px, 0.06);

  @media (min-width: getBreakpoint(large)) {
    position: static;
    width: auto;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}

.brand-link {
  text-decoration: none;
}

#navbar-form-input {
  background-color: getColor(secondary);
  border: none;
  border-radius: 4px 0 0 4px;
  height: auto;

  &::placeholder {
    color: getColor(lightText);
  }
}
